/* Styles pour le widget Google News */
.googleNews-widget-articles ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.googleNews-widget-articles li {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dotted #ccc;
    line-height: 1.4;
}

.googleNews-widget-articles li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.googleNews-widget-articles .googleNews-article-date {
    font-size: 0.85em;
    color: #555;
    margin-left: 8px;
    white-space: nowrap;
}

.googleNews-widget-articles a {
    text-decoration: none;
}

.googleNews-widget-articles a:hover {
    text-decoration: underline;
}
